{% extends "base.html" %}

{% block title %}Questions Bank{% endblock %}

{% block intro %}{% endblock %}
{% block navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="btn btn-purple" href="">+</a>
        </li>
        <li class="nav-item">
            <span class="nav-text"> Hello, {{request.user}} <span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
<!-- start options -->
<section class="featured-posts">
  <div class="row listfeaturedtag">
        <!-- begin card -->
        <div class="col-sm-12">
          <div class="card-f">
            <div class="row">
              <div class="col-md-12">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front card-title">
                      <h1 class="card-content">{{ card.front_text  }}</h1>
                    </div>
                    <div class="flip-card-back">
                      <div class="card-content">
                        <h1>{{ card.back_text }}</h1> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
  </div>
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
	<br/>
        <a class="btn btn-purple" href="">Next</a>
    </div>
  </div>
  <!-- end options -->
</section>
{% endblock %}

{% block footer %}
{% endblock %}
