{% extends "base.html" %}

{% block title %}Questions Bank{% endblock %}


{% block content %}
<!-- start option -->
<section class="featured-posts">
  <div class="section-title">
    <h2><span>Options</span></h2>
  </div>
  <div class="row listfeaturedtag">
    <!-- begin post -->
    <div class="col-sm-6">
      <div class="card">
        <div class="row">
          <div class="col-md-5 wrapthumbnail">
            <a href="single.html">
              <div class="thumbnail" style="background-image:url('static/assets/images/1.jpg');">
              </div>
            </a>
          </div>
          <div class="col-md-7">
            <div class="card-block">
              <h2 class="card-title"><a href="single.html">We all wait for summer</a></h2>
              <h4 class="card-text">This is changed. As I engage in the so-called “bull sessions” around and about the school, I too often find that most college men have...</h4>
              <div class="metafooter">
                <div class="wrapfooter">
                  <span class="meta-footer-thumb">
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/b1cc14991db7a456fcd761680bbc8f81?s=250&d=mm&r=x" alt="John">
                  </span>
                  <span class="author-meta">
                    <span class="post-name"><a target="_blank" href="#">John</a></span><br/>
                    <span class="post-date">12 Jan 2018</span>
                  </span>
                  <span class="post-read-more"><a href="single.html" title="Read Story"><i class="fa fa-link"></i></a></span>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- begin post -->
    <!-- begin post -->
    <div class="col-sm-6">
      <div class="card">
        <div class="row">
          <div class="col-md-5 wrapthumbnail">
            <a href="single.html">
              <div class="thumbnail" style="background-image:url('static/assets/images/1.jpg');">
              </div>
            </a>
          </div>
          <div class="col-md-7">
            <div class="card-block">
              <h2 class="card-title"><a href="single.html">We all wait for summer</a></h2>
              <h4 class="card-text">This is changed. As I engage in the so-called “bull sessions” around and about the school, I too often find that most college men have...</h4>
              <div class="metafooter">
                <div class="wrapfooter">
                  <span class="meta-footer-thumb">
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/b1cc14991db7a456fcd761680bbc8f81?s=250&d=mm&r=x" alt="John">
                  </span>
                  <span class="author-meta">
                    <span class="post-name"><a target="_blank" href="#">John</a></span><br/>
                    <span class="post-date">12 Jan 2018</span>
                  </span>
                  <span class="post-read-more"><a href="single.html" title="Read Story"><i class="fa fa-link"></i></a></span>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- begin post -->
  </div>
  <!-- end option -->
</section>
{% endblock %}
